<?xml version="1.0"?>
<!--
Web.config file for start.
The settings that can be used in this file are documented at http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>